<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>tailieubkhn.com</title>
    
    <!-- Bootstrap core CSS -->
    <link href="/{{ site.baseurl }}/css/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/{{ site.baseurl }}/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="/{{ site.baseurl }}/css/owl.css">
    <link rel="stylesheet" href="/{{ site.baseurl }}/css/lightbox.css">
  </head>

<body>
  {{ content }}
</body>
</html>
